doctype html
html(lang="en")
	head
		title Landing Page
	body
		h1 "Under Construction of an awesome thing"
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit tempora molestiae dolor optio, nemo aspernatur culpa doloribus, laborum officia, earum consequuntur quas ipsum, nostrum sit cumque ullam architecto maxime tempore.